*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background: #002339;
    color: aliceblue;
}
.container{
    margin:12%;
    width: 90%;
    max-width: 700px;
}
/* Designing the display box  */
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
/* Designing the content  in h1  */
.container h1{
    font-weight: 500;
    font-size: 45px;
}
/*Changing the color of "a random password  in h1 "  */
.container h1 span{
    border: #019f55;
    border-bottom: 4px solid #019f55; 
    padding-bottom: 7px;
}
/*Designing the logo of copy*/
.display img {
    width: 30px;
    cursor: pointer;
}
/*Designing the input field   */
.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}
/*Designing the icon near the button generate   */
.container button img{
    width: 28px;
    margin-right: 10px;
}
/*Designing the button "generate"   */
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}



.container p {
    font-size: 20px;
}

/*Toogle */
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

/* Ensure the "Include Symbol" label is not affected by the general label rule */
label[for="switch"] {
    text-indent: 0; /* Override the general rule */
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px; /* Reduced width */
    height: 25px; /* Reduced height */
    background: grey;
    display: block;
    border-radius: 50px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px; /* Adjusted for smaller size */
    left: 3px; /* Adjusted for smaller size */
    width: 20px; /* Reduced width */
    height: 20px; /* Reduced height */
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label:active:after {
    width: 25px; /* Adjusted for smaller size */
}

.container label{
    font-size: 500 px;
}